#body_container{
    background: #f2f2f2
}
#navbar{
    background: grey;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 1;
}
.navbar_div{
    display: flex;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.add_cars{
    margin-left: auto;
    
}
.add_cars button{
    color: white;
    border: 1px solid black
}
.add_cars a{
    color: white;
}
a:hover{
    text-decoration: none !important
}
.go_Home a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-transform: uppercase
}
#mainbody{
    margin-top: 50px;
    /* margin-bottom: 50px; */
    /* background: #f2f2f2 */
}
#body_content{
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    /* height: 100vh; */
}
.space_content{
    display: flex
}
#show_cars{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 25px;
    width: 100%
}
#hide_cars{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 25px;
    width: 100%;
}
#showallcars{
    border: 5px solid grey;
    display: flex;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 24px 48px -13px rgba(0, 0, 0, 0.5);
}
#showonecar{
    border: 5px solid grey;
    /* display: flex; */
    width: 100%;
    border-radius: 5px;
    position: relative;
    background: white;
    /* box-shadow: 0px 24px 48px -13px rgba(0, 0, 0, 0.5); */
}
.car_description_container{
    background: white;
    margin-bottom: 50px;
}
.car_description{
    padding: 20px;
    display: block
}
.cards{
    width: 100%;
    padding: 20px
}
.mainfeatures{
    display: flex;
    background: white;
    position: relative
}
.onecarmainfeatures{
    display: flex;
    background: white;
    /* position: relative */
}
.mainfeatures a{
    color: unset;
    text-transform: capitalize;
    font-size: 2rem;
    text-decoration: underline
}

.mainfeatures h2{
    margin-left: auto;
}
#populateImg{
    display: flex;
    width: 100%
}
#populatecars{
    width: 100%
}
.collapse{
    display: block
}
.submit-selection ul{
    margin: 0;
    padding: 0;
    list-style: none
}
/* .wrap-collabsible {
    margin-bottom: 1.2rem 0;
  } */
  
  input.toggle[type='checkbox'] {
    display: none;
  }
  
  .lbl-toggle {
    display: block;
    font-weight: bold;
    font-family: monospace;
    font-size: 1.2rem;
    text-transform: uppercase;
    /* text-align: center; */
    padding: 0.5rem;
    color: black;
    /* background: green; */
    cursor: pointer;
    /* border-radius: 7px; */
    transition: all 0.25s ease-out;
    margin-bottom: unset !important
  }
  
  .lbl-toggle:hover {
    /* color: #7C5A0B; */
    background: grey
  }
  
  .lbl-toggle::after {
    content: ' ';
    display: inline-block;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    vertical-align: middle;
    float: right;
    /* margin-right: .7rem; */
    transform: translateY(-2px);
    transition: transform .2s ease-out;
  }
  
  .toggle:checked + .lbl-toggle::after {
    transform: rotate(90deg) translateX(-3px);
  }
  
  .collapsible-content {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
  }
  
  .toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: 350px;
  }
  
  .toggle:checked + .lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .collapsible-content .content-inner {
    /* border-bottom: 1px solid rgba(250, 224, 66, .45); */
    background: white;
    /* border-bottom-left-radius: 7px; */
    /* border-bottom-right-radius: 7px; */
    padding: .5rem 1rem;
  }
  .collapsible-content .content-inner ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
 .filters{
     width: 25%
 }
 .pricing{
     margin-left: auto
 }
 .mainfeatures_details{
     margin-top: 20px;
 }
 .mainfeatures_details ul{
    text-transform: capitalize
}
 .choicechecklist input[type='checkbox']{
    /* position: absolute;
    right: 0;
    top: 50% */
 }
 #labelling{
     position: relative;
 }


 .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    margin-top: 50px;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    width: fit-content;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .imgview{
      width: 300px;
      height: auto;
      padding: 20px
  }
  .onecar_imgview{
    /* width: 500px; */
    width: 50%;
    height: auto;
    padding: 20px
  }
  .car_header{
      text-transform: capitalize;

  }
  .delete{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px;
  }
  .delete button:last-child{
      margin-left: 20px
  }
  #firstrow{
      display: flex;
      width: 100%;
  }
  #secondrow{
    display: flex;
    width: 100%;
}
#formelements{
    width: 100%;
    display: block;
    padding: 20px
}
#formelements label{
    width: 100%;
    font-weight: 700
}
#formelements input{
    width: 100%;
    padding: 10px
}
#formelements .input-group #price{
    width: 88% !important;
    padding: 10px
}
#formelements .input-group span{
    font-size: 35px
}
#descriptionarea{
    width: 100%;
    display: block;
    padding: 20px;
}
#descriptionarea label{
    width: 100%;
    font-weight: 700
}
#descriptionarea textarea{
    width: 100%;
    padding: 10px
}
textarea{
    resize: none
}
#editentry{
    float: right;
    margin-right: 20px
}
#maincard{
    position: absolute;
    right: 0;
    top: 0;
    /* margin: 35px; */
    width: auto;
}
#submitbutton{
    float: right;
    margin-right: 20px;
}

@media only screen and (max-width: 479px) {
    #navbar{
        max-width: 100%;
    }
    #body_container{
        max-width: 100%
    }
    #mainbody{
        margin-left: 10px;
        margin-right: 10px;
    }
    .space_content{
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    
    body{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .modal-content{
        width: 100%
    }
    #formelements{
        padding: 5px
    }
    #firstrow{
        display: block !important
    }
    #secondrow{
        display: block !important
    }
}
@media only screen and (min-width: 480px) and (max-width: 767px){
    #navbar{
        max-width: 100%;
    }
    #body_container{
        max-width: 100%
    }
    #mainbody{
        margin-left: 10px;
        margin-right: 10px;
    }
    .space_content{
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    
    body{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .modal-content{
        width: 100%
    }
    #formelements{
        padding: 5px
    }
    #firstrow{
        display: block !important
    }
    #secondrow{
        display: block !important
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px){
    .modal-content{
        width: 95%
    }
}